<title>
	Add address
</title>
<body>
	<form action="/addresses" method="post">
		Street
		<input type="text" name="street"><br>
		Number
		<input type="text" name="number"><br>
		Login (user email)
		<input type="text" name="user"><br>
		<input type="submit" value= "Save"> </form> 
</body>