  <h1>Direccion</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#addresses_id}}
        <tr>
          <td><b>Direccion: </b>{{street}} {{num}} {{city}}</td>
        </tr>
    {{/addresses_id}}
  </table>
<br><br>