  <h1>Direcciones</h1>

  <h2>Cantidad de direcciones: {{addresses_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#addresses}}
        <tr>
          <td><b>Direccion: </b>{{street}} {{num}} {{city}}</td>
        </tr>
    {{/addresses}}
  </table>