  <h1>Respuestas</h1>

  <h2>Cantidad de respuestas: {{answers_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#answers}}
        <tr>
          <td><b>Respuesta:</b> {{description}}</td>
        </tr>
    {{/answers}}
  </table>