  <h1>Respuesta</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#answers_id}}
        <tr>
          <td><b>Respuesta:</b> {{description}}</td>
        </tr>
    {{/answers_id}}
  </table>
<br><br>