  <h1>Auto</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#car_id}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Es coupe?:</b> {{coupe}}</td>
        </tr>
    {{/car_id}}
  </table>
<br><br>