  <h1>Autos</h1>

  <h2>Cars count: {{cars_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#cars}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Es coupe?:</b> {{coupe}}</td>
        </tr>
    {{/cars}}
  </table>