<html>

<head>
<title>Carsapp</title>
</head>

<body background="background.jpg">

<h1><center>CARSAPP</center></h1>


<table>
	<td><a href="http://localhost:4567/users">Usuarios</a></td>
	<tr><a href="http://localhost:4567/vehicles">Vehiculos</a></tr>
	<tr><a href="http://localhost:4567/posts">Publicaciones</a></tr>
</table>

</body>

</html>