<title>
	Hello
</title>

<h1>
	Carsapp
</h1>

<body>
    <a href="http://localhost:4567/users">Users list</a><br>
    <a href="http://localhost:4567/posts">Posts list</a><br>
    <a href="http://localhost:4567/vehicles">Vehicles list</a><br>
    <a href="http://localhost:4567/users/new">Register user</a><br>
    <a href="http://localhost:4567/users/add/vehicles">Add vehicle</a><br>
    <a href="http://localhost:4567/users/add/addresses">Add address</a><br>
    <a href="http://localhost:4567/users/add/post">Add Post</a><br>
    {{> searchUsers}}
    <br>
    {{> searchPosts}}
</body>
