  <h1>Motos</h1>

  <h2>Cantidad de motos: {{motorcycles_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#motorcycles}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Cilindrada:</b> {{engineSize}} <b>Rodado:</b> {{wheelSize}}</td>
        </tr>
    {{/motorcycles}}
  </table>