  <html>
	  <head>
	  	<title>Publicaciones</title>
	  </head>
	  <body>
	  	<h1>Publicaciones</h1>

		  <h2>Posts count: {{posts_count}}</h2>

		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		    {{#posts}}
		        <tr>
		          <td><b>ID:</b> {{id}} </td>
		          <td><b>Titulo:</b> {{title}} </td>
		          <td><b>Descripcion:</b> {{description}}</td>

		        </tr>

		    {{/posts}}
		  </table>
		  <a href="http://localhost:4567/hello">atras</a>
	  </body>
  </html>
  