<h1>Post</h1>
    
    <h2>Vehicle: {{vehicle_name}}</h2>

    <style>
    table,th,td
    {
    border:1px solid black;
    border-collapse:collapse;
    }
    th,td
    {
    padding:5px;
    }
    </style>
    </head>
    <body> 
        <table style type="text/css">
            {{#post}}
                {{#vehicle}}
                <tr>
                    <td> Model </td>
                    <td>{{model}}</td>
                </tr>
                <tr>
                    <td> Km </td>
                    <td>{{km}}</td>
                </tr>
                {{/vehicle}}

                <tr>
                    <td> Descripcion </td>
                    <td>{{description}}</td>
                </tr>
                <tr>
                    <td> Price </td>
                    <td>$ {{price}}</td>
                </tr>
                {{#user}}
                <tr>
                    <td> User </td>
                    <td>{{name}}</td>
                </tr>
                {{/user}}
        </style>
        </table>
        <br>
        {{#questions}}
            {{#user}}
            User: {{name}}<br>
            {{/user}}
            {{description}}<br>
        {{/questions}}
        <br>
        <form action="/questions" method="post">
        <input type="hidden" name="postId" value="{{idp}}">
        Question<br>
        <textarea name="description" style="width:250px;height:150px;"></textarea><br>
        Login (user email)
        <input type="email" name="user">
        Post
        <input type="submit" value= "Send"> </form>        
        {{/post}}
    </body>