<h1>Post</h1>
    
    <h2>Vehicle: {{vehicle_name}}</h2>

    <style>
    table,th,td
    {
    border:1px solid black;
    border-collapse:collapse;
    }
    th,td
    {
    padding:5px;
    }
    </style>
    </head>
    <body> 
        <table style type="text/css">
            {{#post}}
                {{#vehicle}}
                <tr>
                    <td> Model </td>
                    <td>{{model}}</td>
                </tr>
                <tr>
                    <td> Km </td>
                    <td>{{km}}</td>
                </tr>
                {{/vehicle}}

                <tr>
                    <td> Descripcion </td>
                    <td>{{description}}</td>
                </tr>
                <tr>
                    <td> Price </td>
                    <td>$ {{price}}</td>
                </tr>
                {{#user}}
                <tr>
                    <td> User </td>
                    <td>{{name}}</td>
                </tr>
                {{/user}}
        </style>
        </table>
        <br>
        {{#questions}}
            {{#user}}
            User: <font color = "blue">{{name}}</font><br>
            {{/user}}
            {{description}}<br>
            {{#answer}}
            <font color = "red">Answer: </font>{{description}}<br>
            {{/answer}}
            <br>

            {{#active}}
                <form action="/posts/answer" method="post">
                    <input type="hidden" name="questionId" value="{{id}}">
                    Login:
                    <input type="email" name="login">
                    <input type="submit" value="Answer">
                </form>
            {{/active}}

        {{/questions}}
        <br>
        <form action="/questions" method="post">
        <input type="hidden" name="postId" value="{{id}}">
        Your Question<br>
        <textarea name="description" style="width:377px;height:50px;"></textarea><br>
        Login (user email)
        <input type="email" name="user">
        Post
        <input type="submit" value= "Send"> </form>        
        {{/post}}
    </body>