  <html>
	  <head>
	  	<title>Pregunta</title>
	  </head>
	  <body>
	  	<h1>Pregunta</h1>

		  

		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		    {{#questions_id}}
		        <tr>
		          <td><b>ID:</b> {{id}} </td>
		          <td><b>Pregunta:</b> {{description}} </td>
		          

		        </tr>

		    {{/questions_id}}
		  </table>
		  <a href="http://localhost:4567/hello">atras</a>
	  </body>
  </html>
  