<h1>Preguntas al vendedor</h1>

<h2>Questions count: {{addresses_count}}</h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	{{#questions}}
    	<tr>
          <td><b>Pregunta:</b> {{description}} </td>
        </tr>
    {{/questions}}
</table>