<h1>Search users</h1>

<body>
    <form name="search" action="/search/users" method="post">
    Search (username): <input type="search" name="carsappsearch" autofocus required>
                       <input type="submit" value="Search">
    </form>

    {{#result_count}}
    Results: {{result_count}}
    {{/result_count}}
    <br>

    <style>
    table,th,td
    { border:1px solid black;
      border-collapse:collapse; }
    th,td
    { padding:5px; }
    </style>
     
    <table style= "width:300px" width="100%" border="0" cellspacing="0" cellpadding="3">
        {{#found?}}
        <tr>
            <th> Name </th>
            <th> Email </th>
        </tr>
        {{/found?}}
        {{#result}}
        <tr>
            <td><a href="http://localhost:4567/users/{{id}}">  {{name}} </a></td> 
            <td>{{email}}</td>
        </tr>
        {{/result}}
    </table>
</body>