<h1>User</h1>

 	<h2>{{#user}} {{name}} {{/user}}</h2>

 	<style>
 	table,th,td
 	{
 	border:1px solid black;
 	border-collapse:collapse;
 	}
 	th,td
 	{
 	padding:5px;
 	}
 	</style>
 	</head>
 	<body>
	 	<table style type="text/css">
                <tr>
                    <td> Address </td>
                    <td>{{address_user}}</td>
                </tr>
	    </style>
	  	</table>
	</body>