  <h1>Vehicle</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#vehicle_id}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Modelo:</b> {{model}} <b>Marca:</b> {{brand}}</td>
        </tr>
    {{/vehicle_id}}
  </table>
<br><br>
