<style>
    table,th,td
    {
    border:1px solid black;
    border-collapse:collapse;
    }
    th,td
    {
    padding:5px;
    }
    </style>
    </head>
    <body>
        <table style type="text/css">
                <tr>
                    <td>Name:  </td>
                    <td>{{name}}</td><br>
                    <td>Model: </td>
                    <td>{{model}}</td><br>
                    <td>Km: </td>
                    <td>{{km}}</td><br>
                    <td>Owner: </td>
                    <td>{{userName}}</td><br>
                </tr>
        </style>
        </table>
    </body>