  <h1>Users</h1>

  <h2>Users count: {{users_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="3">
    {{#users}}
        <tr>
          <td>{{name}}</td>
        </tr>
    {{/users}}
  </table>

