<a href="/"> Inicio </a><br>
{{#user}}
    <form action="/users/{{id}}/edit" method="post">
    	<b>Nombre: </b><input type="text" value="{{firstName}}" name="firstName" size="20" required/><br>        
    	<b>Apellido: </b><input type="text"  value="{{lastName}}" name="lastName" size="20" required/><br> 
    	<b>Email: </b><input type="email"  value="{{email}}" name="email" size="20" required/><br>
    	<b>Teléfono movil: </b><input type="text"  value="{{mobile}}" name="movil" size="20"><br>
    	<b>Teléfono fijo: </b><input type="text"  value="{{telephone}}" name="fijo" size="20"><br>
    	<b>Dirección: </b><input type="text"  value="{{address}}" name="direccion" size="50"><br>
		<b>Seleccione su ciudad: </b><select name="ciudad">
    		{{#cities}}
       			<option value="{{id}}">{{name}}</option>
    		{{/cities}}
    	</select><br>
    	<input type="submit" value="Enviar"><input type="reset" value="Borrar">
	</form>
{{/user}}
	
	
