<form>
<label for="ocupacion">Ocupacion</label>
<select id="ocupacion" name="ocupacion" onchange="toggle_ocupacion(this)">
   <option value="1">Analista de sistemas</option>
   <option value="2">Programador</option>
   <option value="0">Otra</option>
</select>
<span id="span_otra_ocupacion" style="display:none">
<label for="cual">Cual?</label><input name="cual" type="text" id="cual" />
</span>
</form>

<script>
<!--

function toggle_ocupacion(elemento) {

if(elemento.value==0) {
   document.getElementById("span_otra_ocupacion").style.display = "inline";
} else {
   document.getElementById("span_otra_ocupacion").style.display = "none";
}

}

-->
</script>
