<a href="/"> Inicio </a><br>
<form action="/login" method="post">
    <b>Email: </b><input type="email" name="email" size="20" required/><br>
    <b>Contraseña: </b><input type="password" name="password" size="20" required/><br>
    <input type="submit" value="Entrar"><input type="reset" value="Borrar">
</form>
