<h2> Posts </h2><br>
{{#notEmpty}}
<table border="1">
	<tr><th>        Título        </th><th>      Dueño      </th></tr>
	{{#posts}}
		<tr>
			<td><a href="/users/{{ownerId}}/posts/{{id}}">{{title}}</a></td><td> {{ownerName}} </td>
		</tr>
	{{/posts}}
 </table>
{{/notEmpty}} 
{{^notEmpty}}
	<b>No hay posts</b>
{{/notEmpty}}
