<a href="/"> Inicio </a><br>
{{#post}}
	<h2><a href="/users/{{ownerId}}"> {{ownerName}}</a> - {{title}}</h2>
	<button type="button" > Editar post </button>
	<button type="button" onclick="toogle_eliminar()">Eliminar post</button>
	<span id="span_eliminar" style="display:none">
		<form action="/users/{{ownerId}}/posts/{{id}}/delete" method="post" >
			<b>¿Seguro que desea eliminar el post?: </b>
			<input type="submit" value="Si">
			<input type="button" value="No"onclick="toogle_cancelarEliminacion()">
		</form>
	</span>
	<br>
	<b>Post creado el: </b> {{createdAt}}<br>
	{{description}} 
	<br>
	<br>
	{{#vehicle}}
		<b>{{type}}: </b> {{generalBrand}}<br>
                {{#car}}
                    <b>Asientos: </b>{{capacity}}<br>
                {{/car}}
                {{#motorcycle}}
                    <b>Cilindrada: </b>{{cylinderCapacity}}<br>
                {{/motorcycle}}
                {{#truck}}
                    <b>Longitud: </b>{{length}}<br>
                    <b>Altura: </b> {{height}}<br>
                {{/truck}}
                <b>Color: </b><table bgcolor= "{{color}}" border="1" cellpadding="1" cellspacing="1"><tr><td><font color="{{color}}">Color</td></font></tr></table>
        {{/vehicle}}

	<h3>     Consultas   </h3><br>
    {{#questions}}
        {{description}} {{createdAt}} <a href="/question/{{id}}/answers"> Ver respuestas </a><br>
    {{/questions}}
{{/post}}

<script>
<!--
function toogle_eliminar() {
	document.getElementById("span_eliminar").style.display = "inline";
}

function toogle_cancelarEliminacion() {
	document.getElementById("span_eliminar").style.display = "none";
}

-->
</script>