{{#user}}
<h2>{{name}}</h2><br>
	<b>Email:</b> {{email}}<br>
    <b>Teléfono móvil:</b> {{mobile}}<br>
    <b>Teléfono fijo:</b> {{telephone}}<br>
    <b>Dirección:</b> {{address}}, {{city}} <br>
    <a href="{{id}}/posts">Ver posts</a>     <a href="{{id}}/newPost">Agregar post</a><br>
    <a href="{{id}}/vehicles">Ver vehiculos</a>     <a href="{{id}}/newVehicle">Agregar vehículo</a>
{{/user}}
