<form action="/users/{{id}}/newPost" method="post">
	<b>Título: </b><input type="text" name="title" size="20"><br>
    <b>Descripción: </b><br><textarea name="descrip" rows="5" cols="60"></textarea><br>
	<b>Seleccione un vehículo: </b><select name="vehicles">
	{{#vehicles}}
		<option value="{{id}}">{{generalBrand}}</option>
	{{/vehicles}}
	</select><br>
	<input type="submit" value="Enviar"><input type="reset" value="Borrar">
</form>
