<a href="/"> Inicio </a><br>
<form action="/users/{{id}}/newPost" method="post">
	<b>Título: </b><input type="text" name="title" size="20" required/><br>
    <b>Descripción: </b><br><textarea name="descrip" rows="5" cols="60" required/></textarea><br>
	<b>Seleccione un vehículo: </b><select name="vehicles">
	{{#vehicles}}
		{{#notPosted}}
			<option value="{{id}}">{{generalBrand}}</option>
		{{/notPosted}}
	{{/vehicles}}
	</select><a href="/users/{{id}}/newVehicle"><button type="button">Agregar vehículo</button></a><br>
	<input type="submit" value="Enviar"><input type="reset" value="Borrar">
</form>