<form action="/users/{{id}}/newVehicle" method="post">
	<b>Brand: </b><input type="text" name="brand" size="20"><br>
    <b>Model: </b><input type="text" name="model" size="20"><br>
    <b>Year: </b><input type="text" name="year" size="4"><br>
    <b>Color: </b><input type="text" name="color" size="10"><br>
	<b>Seleccione un tipo: </b><select name="type" onchange="toggle_vehicleType(this)">
		<option value="1">Auto</option>
		<option value="2">Motocicleta</option>
		<option value="3">Camión</option>
	</select><br>
	<span id="span_car" style="display:inline">
		<b>Cantidad de asientos: </b><input name="capacity" type="text"/><br>
	</span>
	<span id="span_motorcycle" style="display:none">
		<b>Cilindradas: </b><input name="cylinder_capacity" type="text"  /><br>
	</span>
	<span id="span_truck" style="display:none">
		<b>Altura: </b><input name="height" type="text" /><br>
		<b>Longitud: </b><input name="length" type="text" /><br>
	</span>
	<input type="submit" value="Enviar"><input type="reset" value="Borrar">
</form>

<script>
<!--

function toggle_vehicleType(elemento) {
	document.getElementById("span_car").style.display = "none";
	document.getElementById("span_motorcycle").style.display = "none";
	document.getElementById("span_truck").style.display = "none";
	
	if(elemento.value==1) {
		document.getElementById("span_car").style.display = "inline";
	} 
	if (elemento.value==2) {
		document.getElementById("span_motorcycle").style.display = "inline";
	}
	if (elemento.value==3) {
		document.getElementById("span_truck").style.display = "inline";
	}
}

-->
</script>
