<html>

  <center><h1>Direcciones</h1>

  <h2>Cantidad de direcciones cargadas: {{addresses_count}}</h2>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">

    {{#addresses}}
        <tr>
          <td><b>Direccion: </b>{{dir}} {{num}} {{city}}</td>
        </tr>
    {{/addresses}}
  
  </table>
  
  </center>
<button><a href="http://localhost:4567/">Inicio</a></button>
</html>