<html>

<center>

  <h1>Automóvil</h1>


  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<center>
    {{#car_id}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Es coupe?:</b> {{coupe}}</td>
        </tr>
    {{/car_id}}
	</center>
  </table>
<br><br>

</center>
<button><a href="http://localhost:4567/">Inicio</a></button>
</html>