<html>

<head>
<title>Carsapp</title>
</head>

<h1><center>CARSAPP</center></h1>

<center>
<br>
<form action="/buscar" method="post">

<table>
	<td>Buscar usuario : <input type="text" placeholder="Ingrese el usuario a buscar"> 
	<input type="submit"><td>
	<td>Buscar publicación : <input type="text" placeholder="Ingrese la publicacion a buscar">
	<input type="submit"><td>
</table>

</form>

</center>

<center>
<table cellspacing="50">

<tr>
	<td><h2><a href="http://localhost:4567/newUser">Crear nuevo Usuario</a></h2></td>
	<td><h2><a href="http://localhost:4567/users">Lista de Usuarios</a></h2></td>	
</tr>
<tr>
	<td><h2><a href="http://localhost:4567/newVehicle">Agregar Vehiculo</a></h2></td>
	<td><h2><a href="http://localhost:4567/vehicles">Lista de Vehiculos</a></h2></td>
</tr>	
<tr>
	<td><h2><a href="http://localhost:4567/newPost">Crear nueva Publicacion</a></h2></td>
	<td><h2><a href="http://localhost:4567/posts">Lista de Publicaciones</a></h2></td>
</tr>

</center>

</table>
</html>