<html>

<head>
<title>Carsapp</title>
</head>

<h1><center>CARSAPP</center></h1>

<center>
<table cellspacing="50">

<tr>
	<td><h2><a href="http://localhost:4567/users">Lista de Usuarios</a></h2></td>	
</tr>
<tr>
	<td><h2><a href="http://localhost:4567/vehicles">Lista de Vehiculos</a></h2></td>
</tr>	
<tr>
	<td><h2><a href="http://localhost:4567/posts">Lista de Publicaciones</a></h2></td>
</tr>



</center>

</table>
<a href="http://localhost:4567/">Volver Atras</a>
</html>
