<html>

<head>
<title>Carsapp</title>
</head>

<h1><form action= "/login" method= "get">
      <input type="submit" value ="Sign in">
    <center>CARSAPP</center></form>
</h1>


<center>
<form action= "/search" method= "post">
      Buscar Anuncio :
      <input type ="text" name="query">
      <input type="submit" value ="Buscar">
</form>
</center>


<center>
<table cellspacing="50">

<tr>
	<td><h2><a href="http://localhost:4567/users">Lista de Usuarios</a></h2></td>	
</tr>
<tr>
	<td><h2><a href="http://localhost:4567/vehicles">Lista de Vehiculos</a></h2></td>
</tr>	
<tr>
	<td><h2><a href="http://localhost:4567/posts">Lista de Publicaciones</a></h2></td>
</tr>



</center>

</table>
</html>
