<html>

<head>
<title>Carsapp</title>
</head>

<h1><center>CARSAPP</center></h1>

<center>
<h2>Ingresar a carsapp</h2>
<form action= "/login" method= "get">
      Ingresar Usuario :
      <input type ="text" name="email">

      Ingresar Password :
      <input type ="text" name="passs">
      <br><br>
      <input type="submit" value ="Ingresar">
</form>
</center>
<center><a href="http://localhost:4567/invitado">Ingresar como invitado</a></center>

</html>
