<html>
<center>
  <h1>Moto</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#motorcycles_id}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Cilindrada:</b> {{engineSize}} <b>Rodado:</b> {{wheelSize}}</td>
        </tr>
    {{/motorcycles_id}}
  </table>
<br><br>
</center>
<button><a href="http://localhost:4567/">Inicio</a></button>
</html>