<html>

<title>Crear Usuario</title>

<center><h1>Crear usuario</h1>

<form action= "/users" method= "post">
      Nombre :
      <input type ="text" name="first_name">
      Apellido : 
      <input type ="text" name="last_name">
      Email : 
      <input type ="text" name="email">
      <input type="submit" value ="Submit">
</form>
</center>

</html>