<html>
<center>
  <h1>Puntuacion</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#punctuations_id}}
        <tr>
          <td><b>Puntuacion:</b> {{points}} <b>ID usuario puntuador:</b> {{giver}} <b>ID usuario puntuado:</b> {{receiver}}</td>
        </tr>
    {{/punctuations_id}}
  </table>
<br><br>
</center>
<button><a href="http://localhost:4567/">Inicio</a></button>
</html>

