  <html>
	  <head><center>
	  	<title>Puntuacion de Post</title>
	  </head>
	  <body>
	  	<h1>Puntuacion de Post</h1>

		  

		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		    {{#rates_id}}
		        <tr>
		          <td><b>N°:</b> {{id}} </td>
		          <td><b>Puntos:</b> {{stars}} </td>
		          <td><b>N° Post:</b> {{id_post}}</td>
		          <td><b>N° Usuario:</b> {{id_user}}</td>

		        </tr>

		    {{/rates_id}}
		  </table>
		  <a href="http://localhost:4567/hello">atras</a>
	  </body>
	</center>
	<button><a href="http://localhost:4567/">Inicio</a></button>
  </html>
  