<html>
<center>
  <h1>Camioneta</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    {{#trucks_id}}
        <tr>
          <td><b>Patente:</b> {{licensePlate}} <b>Cantidad de cinturones:</b> {{belt}}</td>
        </tr>
    {{/trucks_id}}
  </table>
<br><br>
</center>
<button><a href="http://localhost:4567/">Inicio</a></button>
</html>